*{
  margin: 0;
}
h1 {
  color: white;
  text-align: center;
  line-height: 200px;
}
header {
    width: 100%;
    background-color: #c0392b;
}
.navigation {
    width: 100%;
    height: 350px;
    background-color: #7f8c8d;
}
.main_content {
  background-color: #2980b9;
  height: 650px;
}
footer{
  height: 150px;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  line-height: 120px;

}
